In [ ]:
# EXERCISE 5

In [15]:
def divByFive():
    myList = [ 5, 12, 17, 20, 21, 25, 27, 30]
    print('numbers from list divisible by 5: ')
    for num in myList:
        if num % 5 == 0:
            print(num)
divByFive()

numbers from list divisible by 5:
5
20
25
30

In [ ]:
# EXERCISE 6

In [33]:
def pattern():
    for i in range(6):
        
        print((str(i)+ ' ') * i)

pattern()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [ ]:
# EXERCISE 7

In [41]:
city_list = ["London", "Manchester", "Portsmouth", "Southampton"]
print('first and last from list: ', city_list[0], city_list[-1])

first and last from list:  London Southampton

In [ ]:
# EXERCISE 8

In [39]:
print('2nd and 3rd from list: ', city_list[1], city_list[2])

2nd and 3rd from list:  Manchester Portsmouth

In [ ]:
# EXERCISE 9

In [91]:
def timesTable(num):
    for i in range(num):
        l = []
        for j in range(num):
            l.append((i+1)*(j+1))
        print(' '.join(map(str,l))) 
            
num = int(input('Please enter a number'))
timesTable(num)

Please enter a number 5

1 2 3 4 5
2 4 6 8 10
3 6 9 12 15
4 8 12 16 20
5 10 15 20 25

In [ ]:
# EXERCISE 10

In [122]:
string = 'The longest river in the world is the Nile.'
substring = 'the'
string = string.split()
count = 0
for i in string:
    if i == substring:
        count = count + 1    
print('Number of times the appears: ', count)

Number of times the appears:  2